.app-header {
  background-color: var(--white);
  padding: 0;
  /* overflow: hidden; */
}

.app-header .top-bar {
  background: #04689a;
  height: 75px;
}

.menucolapse1 {
  display: none;
}

.app-header .top-bar .topbar-menu .top-link {
  line-height: 75px;
  color: var(--white);
  text-transform: capitalize;
  padding: 0 20px;
  background: var(--topbar-bg-dark);
  display: inline-block;
  font-weight: bolder;
}

.app-header .top-bar .topbar-menu .top-link:hover {
  color: var(--main-color);
}

.menucolapse1 {
  display: none;
}

.app-header .top-bar .topbar-menu .top-link.active {
  background: var(--main-color);
}

.app-header .top-bar .topbar-menu .top-link.active:hover {
  color: var(--white);
}

.app-header .main-header {
  height: 72px;
  background: #ff6609;
  position: relative;
  /* background-image: -webkit-linear-gradient( 45deg, #ff6609 0%, #da46b1 40%, #ff6609 100%); */
}

.menu-collapse-divi-left p {
  font-size: 21px;
  position: absolute;
  left: 50px;
  font-weight: 600;
}

.app-header .main-header .logo {
  line-height: 70px;
}

.app-header nav.topbar-menu {
  width: 375px;
}

.app-header a.active.top-link {
  text-align: center;
}

.app-header a.top-link {
  text-align: center;
  color: var(--white);
}

.app-header .topbar-phone {
  display: inline-block;
  width: 260px;
  align-items: baseline;
  padding: 19px 30px -6px 72px;
  height: 75px;
}

.app-header span.anticon.anticon-phone {
  font-size: 25px;
  color: white;
}

.app-header .topbar-phone-right h3 {
  color: white;
  font-size: 24px;
}

.app-header .topbar-course h3 {
  color: white;
  font-size: 22px;
  font-weight: bold;
  box-shadow: 0px 0px 5px black;
  border-radius: 13px;
  height: 51px;
}

.app-header .topbar-course {
  width: 220px;
  background: #ff5620;
  height: 55px;
  text-align: center;
  border-radius: 11px;
  margin-top: 11px;
  line-height: 49px;
}

.app-header .topbar-course:hover {
  background: var(--main-color);
}

.app-header .topbar-login {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0px;
  height: 74px;
  margin-left: -42px;
  position: relative;
}

.app-header .topbar-login .button {
  display: flex;
  justify-content: space-between;
  font-size: 19px;
  font-weight: bold;
}

.app-header .topbar-login .singin,
.app-header .topbar-login .singup {
  font-size: 18px;
  font-weight: bold;
  color: white;
}

.app-header .topbar-login .singin:hover,
.app-header .topbar-login .singup:hover {
  color: var(--main-color);
}

.app-header .topbar-login .button a {
  color: white;
}

.app-header .topbar-login .button a:hover {
  color: #ff5620;
}

.app-header .main-menu ul li {
  list-style-type: none;
  display: inline-block;
  padding-left: 37px;
}

.app-header .classroom {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: white;
  width: 148px;
  margin-top: 15px;
}

.app-header .classroom h3 a {
  color: white;
  font-size: 21px;
}

.app-header .studyspace h3 a {
  color: white;
  font-size: 20px;
}

.app-header .studyspace {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  color: white;
  width: 153px;
}

.app-header i.fa.fa-graduation-cap {
  font-size: 20px;
}

.app-header i.fa.fa-leanpub {
  font-size: 20px;
}

.app-header .contact {
  width: 110px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: white;
}

.app-header .contact h3 a {
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.app-header i.fa.fa-search {
  font-size: 23px;
  color: white;
}

.app-header .topbar-phone-right a h3:hover {
  color: #ff5620;
}

.app-header nav.topbar-menu a.active.top-link:hover {
  color: #ff5620;
}

.app-header .main-menu ul li.submenu {
  position: relative;
}

.app-header .submenu1 {
  position: absolute;
}

.app-header
  ul.ant-dropdown-menu.ant-dropdown-menu-light.ant-dropdown-menu-root.ant-dropdown-menu-vertical {
  margin-left: -36px;
  position: absolute;
  top: -3%;
  border-radius: 12px;
}

.app-header .main-header .logo img {
  width: 210px;
  padding-top: 5px;
}

.menu-link {
  display: flex;
  /* align-content: baseline; */
  justify-content: space-between;
  width: 145px;
  align-items: baseline;
  text-align: left;
}

.cap-fix {
  font-size: 21px;
  color: white;
}

.menu-collapse-divi-left i.fa.fa-envelope {
  position: absolute;
  top: 15px;
  font-size: 20px;
}

.app-header .logged-info-buttons .menu-logged li .sub-logged-menu {
  display: none;
  position: absolute;
  width: 200px;
  top: 46px;
  z-index: 9999;
  background: rgba(255, 255, 255, 0.95);
  border-radius: 10px;
  padding: 10px 0;
}

.app-header .noti-bell {
  margin-left: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #034d72;
  text-align: center;
  line-height: 42px;
}
.app-header .logged-info-buttons .menu-logged {
  margin: 0;
  padding: 0;
}

.app-header .logged-info-buttons .menu-logged li {
  list-style: none;
  position: relative;
}

.app-header .logged-info-buttons .menu-logged li a img {
  width: 45px;
  display: inline-block;
  border-radius: 90px;
  margin-right: 10px;
}

.app-header .logged-info-buttons .menu-logged li a {
  color: #fff;
  font-weight: normal;
}
.app-header .logged-info-buttons .menu-logged li a span {
  display: inline-block;
  width: 80px;
}
.app-header .logged-info-buttons .menu-logged li a span:hover {
  text-decoration: underline;
}

.app-header .logged-info-buttons .menu-logged li:hover .sub-logged-menu {
  display: block;
}

.app-header .logged-info-buttons .menu-logged li .sub-logged-menu li {
  padding: 5px 10px;
  border-bottom: 1px solid #ededed;
}

.app-header .logged-info-buttons .menu-logged li .sub-logged-menu li:hover {
  background: #ff5620;
}

.app-header .logged-info-buttons .menu-logged li .sub-logged-menu li:hover a {
  color: #fff;
  text-decoration: none;
}
.app-header
  .logged-info-buttons
  .menu-logged
  li
  .sub-logged-menu
  li:hover
  i.fa.fa-user {
  color: #fff;
}
.app-header
  .logged-info-buttons
  .menu-logged
  li
  .sub-logged-menu
  li:hover
  i.fa.fa-leanpub {
  color: #fff;
}
.app-header
  .logged-info-buttons
  .menu-logged
  li
  .sub-logged-menu
  li:hover
  i.fa.fa-pie-chart {
  color: #fff;
}
.app-header
  .logged-info-buttons
  .menu-logged
  li
  .sub-logged-menu
  li:hover
  i.fa.fa-star {
  color: #fff;
}
.app-header
  .logged-info-buttons
  .menu-logged
  li
  .sub-logged-menu
  li:hover
  i.fa.fa-power-off {
  color: #fff;
}

.app-header .logged-info-buttons .menu-logged li .sub-logged-menu li a {
  color: #333;
}

.app-header .logged-info-buttons .menu-logged li .sub-logged-menu li .button {
  color: #333;
}
.topbar-phone button.ant-btn.ant-btn-link {
  width: 100%;
  margin: auto;
  padding-top: 20px;
}

button.ant-btn.ant-btn-link span:nth-child(2) {
  font-size: 22px;
  color: white;
}
@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 1200px) {
  .app-header .topbar-login .avatar {
    display: none;
  }
}

@media only screen and (max-width: 1080px) {
  .app-content .wraper .menu-course {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
  }
  .app-header .topbar-login .avatar {
    display: none;
  }
  .app-header .topbar-login .singin,
  .app-header .topbar-login .singup {
    font-size: 16px;
    font-weight: bold;
    color: white;
  }
  .app-header .main-header .menucolapse1 .menu.active {
    transform: translateY(0);
    color: #ff6609;
  }
  .app-header .main-header .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 10px;
  }
  .app-header .main-header .navbar .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  .app-header .main-header .menucolapse1 .nav-menu {
    background-color: #060b26;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -100px;
    left: 0;
    transition: 1000ms;
    display: none;
  }
  .app-header .main-header .menucolapse1 .nav-menu.active {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #04689a;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    color: white;
  }
  .app-header .main-header .menucolapse1 {
    width: 100%;
    display: block;
    z-index: 13;
  }
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  .nav-menu-items {
    width: 100%;
  }
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .app-header .main-header .navbar i.fa.fa-bars {
    font-size: 19px;
    color: white;
  }
  .menu-collapsed-input {
    width: 100%;
    margin-top: -2px;
  }
  .menu-collapse-divi ul li {
    list-style-type: none;
    display: block;
    border-bottom: 1px solid;
    margin-left: -38px;
    height: 50px;
    line-height: 46px;
  }
  .menu-collapse-divi-left {
    display: flex;
    justify-content: space-between;
    width: 151px;
    align-items: baseline;
    padding-left: 20px;
    padding-bottom: 6px;
  }
  .menu-collapse-divi-left h3 {
    text-align: left;
    color: white;
    font-weight: 600;
  }
  .menu-collapse-divi-left h3 a {
    color: #fff;
  }
  .menu-collapse-divi-left p a {
    color: #fff;
  }
  .menu-collapsed-input {
    background: #04689a;
  }
  .menu-collapse-divi-panel {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100px;
    margin-left: 7px;
    color: white;
  }
  .menu-collapse-divi-panel h3 {
    font-size: 19px;
    color: white;
    font-weight: 600;
  }
  .menu-collapse-divi {
    position: relative;
  }
  input.divi-input {
    width: 94%;
    margin-left: 21px;
    border: none;
    height: 36px;
    border-radius: 5px;
    padding: 18px;
  }
  .menu-collapse-divi i.fa.fa-search {
    position: absolute;
    top: 10px;
    left: 91%;
    color: black;
  }
  .app-header
    .main-header
    .menucolapse1
    .nav-menu.active
    .ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header {
    padding: 12px 16px;
    padding-right: 40px;
    height: 50px;
  }
  .css-submenu-mobile {
    background: #04689a;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
  .ant-menu-submenu-title h3 {
    color: white;
  }
  button.ant-btn.ant-btn-text.menu-collapse-divi-btn span {
    color: white;
    font-weight: 600;
    font-size: 19px;
    width: 100%;
    margin: auto;
    padding-left: -10px;
  }
  button.ant-btn.ant-btn-text.menu-collapse-divi-btn {
    width: 100%;
  }
  .ant-collapse.ant-collapse-icon-position-right {
    border-radius: 0px;
  }
  i.ant-menu-submenu-arrow {
    color: white;
  }
  span.anticon.anticon-right.ant-collapse-arrow svg {
    color: white;
  }
  .ant-collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', 'tnum';
    border: none;
    border-bottom: 0;
    border-radius: 2px;
  }
  .app-header .main-header .menucolapse1 {
    width: 100%;
    margin-top: -2px;
  }
  .app-header .main-header .navbar i.fa.fa-bars {
    font-size: 25px;
    color: white;
  }
  .noti-bell img {
    display: none;
  }
  .app-header .logged-info-buttons .menu-logged li .sub-logged-menu {
    display: none;
    position: absolute;
    width: 200px;
    top: 58px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 10px 0;
    left: -20%;
  }
  .app-header .noti-bell {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #034d72;
    text-align: center;
    line-height: 42px;
    display: none;
  }
}

/*tablet*/

@media only screen and (max-width: 680px) {
  .app-header .topbar-login {
    border-left: 0;
  }
  .app-header .top-bar,
  .app-header .topbar-login {
    height: auto;
  }
  .app-header .top-bar .topbar-menu .top-link {
    line-height: 100%;
    padding: 10px;
    font-size: 13px;
    height: 50px;
  }
  .app-header .topbar-login .button {
    margin: auto;
  }
  .app-header .topbar-login .singin,
  .app-header .topbar-login .singup {
    line-height: 30px;
    padding: 10px;
    font-size: 16px;
  }
  .app-header .top-bar .topbar-menu .top-link.active {
    background: var(--main-color);
    height: 50px;
  }
  .app-header .topbar-login .avatar {
    width: 63px;
  }
  .app-header .topbar-login .avatar img {
    width: 100%;
  }
  .app-content .wraper .menu-course {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
  }
  .app-header .topbar-login .avatar {
    display: none;
  }
  .menucoll {
    position: relative;
    width: 500px;
    height: 100px;
    background: black;
  }
  .menucollapsed {
    background-color: #533557;
    z-index: 5;
    left: 0;
    top: 100%;
    height: 100px;
    position: absolute;
    transform: translateY(-100%);
  }
  .menu.active {
    transform: translateY(0);
    color: #ff6609;
  }
  /* navar toggler */
  .app-header .main-header .navbar .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .app-header .main-header .navbar .menu-bars .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  .app-header .main-header .menucolapse1 .nav-menu {
    background-color: #060b26;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -100px;
    left: 0;
    transition: 1000ms;
    display: none;
  }
  .app-header .main-header .menucolapse1 .nav-menu.active {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #04689a;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    color: white;
  }
  .app-header .main-header .menucolapse1 {
    width: 100%;
    display: block;
  }
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  .nav-menu-items {
    width: 100%;
  }
  .navbar-toggle {
    background-color: #060b26;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .app-header .main-header .navbar i.fa.fa-bars {
    font-size: 25px;
    color: white;
  }
  .menu-collapsed-input {
    width: 100%;
  }
  .menu-collapse-divi ul li {
    list-style-type: none;
    display: block;
    border-bottom: 1px solid;
    margin-left: -38px;
    height: 50px;
    line-height: 46px;
  }
  .menu-collapse-divi-left {
    display: flex;
    justify-content: space-between;
    width: 151px;
    align-items: baseline;
    padding-left: 20px;
    padding-bottom: 6px;
  }
  .menu-collapse-divi-left h3 {
    text-align: left;
    color: white;
    font-weight: 600;
  }
  .menu-collapsed-input {
    background: #04689a;
  }
  .menu-collapse-divi-panel {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100px;
    margin-left: 7px;
    color: white;
  }
  .menu-collapse-divi-panel h3 {
    font-size: 19px;
    color: white;
    font-weight: 600;
  }
  .menu-collapse-divi {
    position: relative;
  }
  input.divi-input {
    width: 92%;
    margin-left: 21px;
    border: none;
    height: 36px;
    border-radius: 5px;
    padding: 18px;
  }
  .menu-collapse-divi i.fa.fa-search {
    position: absolute;
    top: 10px;
    left: 89%;
    color: black;
  }
  .app-header
    .main-header
    .menucolapse1
    .nav-menu.active
    .ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header {
    padding: 12px 16px;
    padding-right: 40px;
    height: 50px;
  }
  nav.topbar-menu span {
    line-height: 32px;
  }
  .css-submenu-mobile {
    background: #04689a;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
  }
  .ant-menu-submenu-title h3 {
    color: white;
  }
  button.ant-btn.ant-btn-text.menu-collapse-divi-btn span {
    color: white;
    font-weight: 600;
    font-size: 19px;
    width: 100%;
    margin: auto;
    padding-left: -10px;
  }
  button.ant-btn.ant-btn-text.menu-collapse-divi-btn {
    width: 100%;
  }
  .ant-collapse.ant-collapse-icon-position-right {
    border-radius: 0px;
  }
  .app-header .main-header .logo img {
    width: 160px;
    padding-top: 5px;
  }
  i.ant-menu-submenu-arrow {
    color: white;
  }
  span.anticon.anticon-right.ant-collapse-arrow svg {
    color: white;
  }
  .ant-collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', 'tnum';
    border: none;
    border-bottom: 0;
    border-radius: 2px;
  }
  .noti-bell img {
    display: none;
  }
}

/*mobile*/

@media only screen and (max-width: 480px) {
  .app-header .topbar-login .avatar {
    display: none;
  }
  .noti-bell img {
    display: none;
  }
  .app-content .wraper .menu-course {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px;
  }
  .app-header .topbar-login .singin,
  .app-header .topbar-login .singup {
    line-height: 30px;
    padding: 10px;
    font-size: 15px;
  }
  .app-header .topbar-login .avatar {
    width: 63px;
    display: none;
  }
  .app-header .nav-input {
    display: none;
  }
  .app-header .menucoll {
    position: relative;
    width: 500px;
    height: 100px;
    background: black;
  }
  .app-header .main-header .menu.active {
    transform: translateY(0);
    color: #ff6609;
  }
  /* navar toggler */
  .app-header .main-header .navbar {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .app-header .main-header .navbar .menu-bars .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
  }
  .app-header .main-header .menucolapse1 .nav-menu {
    background-color: #060b26;
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -100px;
    left: 0;
    transition: 1000ms;
    display: none;
  }
  .app-header .main-header .menucolapse1 nav-menu.active {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #04689a;
    top: 0;
    left: 0;
    z-index: 5;
    display: block;
    color: white;
  }
  .app-header .main-header .menucolapse1 {
    width: 100%;
    margin-top: -2px;
  }
  .app-header .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  .app-header .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  .navbar i.fa.fa-bars {
    font-size: 25px;
    color: white;
  }
  .menucolapse1 .menu-collapsed-input {
    width: 100%;
  }
  .menu-collapse-divi ul li {
    list-style-type: none;
    display: block;
    border-bottom: 1px solid;
    margin-left: -38px;
    height: 50px;
    line-height: 46px;
  }
  .menu-collapse-divi-left {
    display: flex;
    justify-content: space-between;
    width: 151px;
    align-items: baseline;
    padding-left: 20px;
    padding-bottom: 6px;
  }
  .menu-collapse-divi-left h3 {
    text-align: left;
    color: white;
    font-weight: 600;
  }
  .menu-collapsed-input {
    background: #04689a;
  }
  .menu-collapse-divi-panel {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100px;
    margin-left: 7px;
    color: white;
  }
  .menu-collapse-divi-panel h3 {
    font-size: 19px;
    color: white;
    font-weight: 600;
  }
  .menu-collapse-divi {
    position: relative;
  }
  input.divi-input {
    width: 90%;
    margin-left: 21px;
    border: none;
    height: 36px;
    border-radius: 5px;
    padding: 18px;
  }
  .menu-collapse-divi i.fa.fa-search {
    position: absolute;
    top: 10px;
    left: 86%;
    color: black;
  }
  .nav-menu.active
    .ant-collapse-icon-position-right
    > .ant-collapse-item
    > .ant-collapse-header {
    padding: 12px 16px;
    padding-right: 40px;
    height: 50px;
  }
  button.ant-btn.ant-btn-text.menu-collapse-divi-btn {
    width: 100%;
  }
  button.ant-btn.ant-btn-text.menu-collapse-divi-btn span {
    color: white;
    font-weight: 600;
    font-size: 19px;
    width: 100%;
    margin: auto;
    padding-left: -10px;
  }
  button.ant-btn.ant-btn-text.menu-collapse-divi-btn {
    width: 100%;
  }
  .app-header nav.topbar-menu span {
    line-height: 31px;
  }
  ul.dropdown-menu li.dropdown-menu {
    margin: 0;
    padding: 0 25px !important;
    border-top: 1px #ededed dashed !important;
    border-radius: 0 !important;
  }
  .app-header .main-header .dropdown-menu > li {
    border-bottom: 1px #ededed dashed;
  }
  .ant-collapse-content > .ant-collapse-content-box {
    padding: 0;
    /* padding-left: 17px; */
    /* margin-right: 0; */
    /* padding-right: 0; */
  }
  .app-header .main-header .css-submenu-mobile {
    background: #04689a;
  }
  .ant-menu-submenu-title h3 {
    color: white;
  }
  .ant-collapse.ant-collapse-icon-position-right {
    border-radius: 0px;
  }
  .app-header .main-header .logo img {
    width: 140px;
    padding-top: 8px;
    margin: auto;
  }
  span.anticon.anticon-right.ant-collapse-arrow svg {
    color: white;
  }
  .app-header .main-header .ant-collapse {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', 'tnum';
    border: none;
    border-bottom: 0;
    border-radius: 2px;
  }
  .app-header .logged-info-buttons .menu-logged li a img {
    width: 40px;
    display: inline-block;
    border-radius: 90px;
    margin-right: 10px;
  }
  .app-header .logged-info-buttons .menu-logged {
    margin: 0;
    padding: 0;
    margin-top: 5px;
  }
  .app-header .logged-info-buttons .menu-logged li .sub-logged-menu {
    display: none;
    position: absolute;
    width: 200px;
    top: 43px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 10px 0;
    left: -36%;
  }
  .app-header .noti-bell {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #034d72;
    text-align: center;
    line-height: 42px;
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .app-header .main-header .logo img {
    width: 140px;
    padding-top: 8px;
    margin: auto;
  }
  .app-header .review-box-timeline {
    display: flex;
    justify-content: space-between;
    width: 90%;
  }
  i.ant-menu-submenu-arrow {
    color: white;
  }
  span.anticon.anticon-right.ant-collapse-arrow svg {
    color: white;
  }
  .app-header .topbar-login .singin,
  .app-header .topbar-login .singup {
    line-height: 30px;
    padding: 8px;
    font-size: 12px;
    margin-left: 5px;
  }
  .noti-bell img {
    display: none;
  }

  .app-header .logged-info-buttons .menu-logged li a img {
    width: 35px;
    display: inline-block;
    border-radius: 90px;
    margin-right: 10px;
  }
  .app-header .logged-info-buttons .menu-logged {
    margin: 0;
    padding: 0;
    margin-top: 7px;
  }
  .app-header .logged-info-buttons .menu-logged li .sub-logged-menu {
    display: none;
    position: absolute;
    width: 200px;
    top: 43px;
    z-index: 9999;
    background: rgba(255, 255, 255, 0.95);
    border-radius: 10px;
    padding: 10px 0;
    left: -42%;
  }
  .app-header .noti-bell {
    margin-left: 15px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #034d72;
    text-align: center;
    line-height: 42px;
    display: none;
  }
}
