.statisic {
  padding: 80px 0;
  margin-bottom: 40px;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
}

.statisic .statisic-box {
}

.statisic .statisic-number {
  text-align: center;
  color: #fff;
  font-size: 3em;
  text-transform: uppercase;
  font-weight: bolder;
  margin-bottom: 0;
  line-height: 1.2;
}

.statisic .statisic-description {
  text-align: center;
  color: #fff;
  font-size: 1.8em;
  text-transform: uppercase;
}

/*tablet pro*/

@media only screen and (max-width: 1080px) {
}

/*tablet*/

@media only screen and (max-width: 680px) {
}

/*mobile*/

@media only screen and (max-width: 480px) {
  .statisic .statisic-number {
    font-size: 2em;
  }

  .statisic .statisic-description {
    font-size: 1em;
  }
}
